// Mixins Here

.btn-padding (@vert, @hor) {
    padding-top: @vert;
    padding-bottom: @vert;
    padding-left: @hor;
    padding-right: @hor;
}

.auto-container (@wid, @mar) {
    width: @wid;
    margin: @mar;
}

.flex (@dis, @fdir) {
    display: @dis;
    flex-direction: @fdir;
}

.inverted (@col, @bg-col) {
    color: @col;
    background-color: @bg-col;
}