// Navigation code here
//Variables
@nav-bg: @wild-sand;
@nav-font: @river-bend;
@nav-border: @sea-shell;
@phone: ~"(max-width: 500px)";


.container-home {
    width: 100%;
    margin-top: 1.5em;
    padding: .5em;
    display: inline-block;
    background-color: @nav-bg;
    border: 0.1em double @nav-border;

    .nav-container {
        .auto-container (100%, 0 auto);
        
        .nav-title h2 {
            .auto-container (100%, 0 auto);
            .flex (flex, row);
            padding: .5em;
            justify-content: space-evenly;
            text-align: center;
        }
    }
    
    .nav-bar {
        .auto-container (100%, 0 auto);

        ul {
            .flex (flex, row);
            text-align: center;
            justify-content: center;
            list-style: none;
                
            li a {
                color: #22283B;
                font-size: 1.6rem;
                line-height: 1.4;
                text-decoration: none;
                text-align: center;
                display: inline;
                padding: 1em;
                &:hover, &:focus {
                    .inverted (@nav-bg, #22283B);
                }
            }
        }
    }
}